.clubDetail{
  padding: 18px 128px 160px 128px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.titleName{
  color: var(--gray-10-typo-color, #121212);

  font-size: 24px;
  font-weight: 700;
  text-shadow:   /* 글씨 더 굵게 보이게  */
  -0.1px 0 currentColor,
   0.1px 0 currentColor,
   0   -0.1px currentColor,
   0    0.1px currentColor;
  line-height: 40px; /* 166.667% */
  letter-spacing: 2px;
}

.ClubImg{
  width: 384px;
  height: 384px;
  border: 4px solid var(--Gradient-01, #FBFBFB);
  background: lightgray 50% / cover no-repeat;

  /* Shadow 02 */
  box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.25);
}

.clubDeatilContainer{
  border:2px solid var(--gray-10-typo-color, #121212);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width:100%;
}

.clubDeatilLeft{
  border:2px solid var(--gray-10-typo-color, #db9191);
  width:420px;
  height:600px;

  display: flex;
  flex-direction: column;
}

.clubDeatilText1{
  display: flex;  
  flex-direction: row;

  margin-top: 20px;
}

.clubDeatiltitleDiv{
  width:60px;
  flex-shrink: 0;

  margin-right: 20px;
}

.clubDeatiltitle{
  color: var(--Gray-08, #3E3E3E);
  display: inline-block; 
  width: 100%;

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}


.clubDeatilRight{
  border:2px solid var(--gray-10-typo-color, #dbd691);
  width:100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-left: 140px;
}

.clubDeatiltextDiv{
  /* width: 80px; */
  text-align: left
}

.clubDeatiltext{
  display: inline-block; 
  width: 100%;

  text-align: left;
}

.EventCardContainer{
  width:100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 24px; 
  justify-items: center;
}