.body {
  padding: 16px 131px;
}

.title_box {
  margin-bottom: 100px;
}

.title {
  text-align: left;
  color: var(--gray-10-typo-color, #121212);

  /* Title 06 */
  font-family: "IBM Plex Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 166.667% */
  letter-spacing: 0.72px;
}
