.logo{
  cursor: pointer;
}

.right div{
  cursor: pointer;
}

.header{
  height: 88px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--gray-01-background, #FBFBFB);
  padding:0px 128px;
}

.right{
  display: flex;
}

.right div{
  height: 24px;
  flex-shrink: 0;
  padding: 4px 24px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.watching:hover{
  font-weight: 700;
}

.recruiting:hover{
  font-weight: 700;
}

.club:hover{
  font-weight: 700;
}

.login{
  border: 1px solid black;
  margin-left: 68px;
}

.login:hover{
  font-weight: 700;
}

.back {
  position: relative;
}

.background{
  vertical-align: middle;
}

.nan{
  display: none;
}

.fronttext{
  position:absolute;
  font-weight: 700;
  color: var(--gray-01-background, #FBFBFB);
}

.selectPadding{
  padding: 0 !important;
}