body {
  margin: 0;
  
  font-family: "IBM Plex Sans KR";
  font-weight: 400;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --ORANGE: #FF3D12;
  --DEEPORANGE: #BB2200;
  --BLACK: #121212;
  --WHITE: #FBFBFB
  color: #121212;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
