:root {
  --ORANGE: #ff3d12;
  --DEEPORANGE: #bb2200;
  --BLACK: #121212;
  --WHITE: #fbfbfb;
}

body {
  margin: 0;

  font-family: "IBM Plex Sans KR";
  font-weight: 400;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #121212;
  background-color: #fbfbfb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
